node_modules
dist
.turbo
.env
.env.prod
.env.local
.env.*
!.env.example
apps/api/.env
*.log
.DS_Store
Thumbs.db
coverage
.prisma
apps/api/prisma/dev.db
apps/web/dist
apps/mobile/.expo
apps/mobile/dist
infra/compose/data
backups
*.pem
.vscode
.idea
