:80 {
  encode gzip

  handle /api* {
    reverse_proxy api:3000
  }

  handle /socket.io* {
    reverse_proxy api:3000
  }

  handle /realtime* {
    reverse_proxy api:3000
  }

  handle {
    reverse_proxy web:80
  }
}
